############################################################
# LanJanitor Python Requirements
#
# For production, pin versions for stability (e.g. flask==2.3.2)
# For development, you may use latest versions.
############################################################

flask
flask-wtf
werkzeug
ansible-runner
pycryptodome

# Optional: Add testing and linting tools
# pytest
# flake8