{% extends "base.html" %}
    {% block title %}Home - LAN Janitor{% endblock %}
    {% block content %}
    <div id="app">
      <loading-overlay :show="showOverlay"></loading-overlay>
      <navbar-bar @logout="logout"></navbar-bar>
      <!-- Content -->
      <div class="container py-4">
        <div class="row g-3">
          <div class="col-lg-3 col-md-6 col-sm-12 g-3" v-for="server in servers" :key="server.server_id">
            <server-card
              :server="server"
              @delete="delServer"
              @reboot="rebootServer"
              @upgrade="upgradeServer"
            ></server-card>
          </div>
        </div>
        <!-- Button trigger modal -->
        <div class="row" style="padding-top:15px;">
          <div class="col">
            <button type="button" class="btn add-server-btn float-end" data-bs-toggle="modal" data-bs-target="#serverModal">
              <i class="bi bi-plus-circle"></i> Add Server
            </button>
          </div>
        </div>
        <footer-bar></footer-bar>
        <!-- Modal -->
        <add-server-modal
          v-model:name="newServerName"
          v-model:ip="newServerIP"
          v-model:os_type="newServerOsType"
          @add="addServer"
        ></add-server-modal>
      </div>
    </div>
    {% endblock %}

    {% block scripts %}
      <script src="/static/js/api.js"></script>
      <script src="/static/js/utils.js"></script>
      <script src="/static/js/components/ServerCard.js"></script>
      <script src="/static/js/components/AddServerModal.js"></script>
      <script src="/static/js/components/LoadingOverlay.js"></script>
      <script src="/static/js/components/NavbarBar.js"></script>
      <script src="/static/js/components/FooterBar.js"></script>
      <script src="/static/js/main.js"></script>
      <script>
        // Set Vue delimiters to avoid conflict with Jinja
        window.LANJANITOR_VUE_DELIMITERS = ['[[', ']]'];
      </script>
    {% endblock %}
